#profileImage{
	margin-top: 2vmin;
	height: 35vmin;
	width: 40vmin;
	padding:1px;
    border:1vmin solid #021a40;
}

#imageSection{
	padding-left: 1rem;
	height: 40vmin;
}

#header{
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	font-size: 7vmin;
	font-weight: bolder; 
	color: crimson;
	margin-left: -4vmin;
}

#quote{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 3vmin;
	font-weight: bolder; 
	color: red;
	padding-top: 1rem;
}

.btn{
	height: 9vh;
	width: 15vh;
	margin-left: 1vmin;
	margin-top: 1rem;
	font-size: 1.4vh;
	text-align: center;
	font-weight: bold;
	color: yellow;	
}

button:hover{
	color: blue;
	font-size: 1.8vh;
	border-radius: 50%;
	transition-duration: .8s;
}


body {
  background-image: url(images/A2.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: -50%;
}

/* For mobile devices */
@media only screen and (max-width: 720px) {
  body {
    background-image: url(images/A2.jpg);
  }
}



/*footer css here */

#row1-part1
{
	color: rgb(5, 183, 102);
	font-size: 2vmin;
	font-weight: bold;
	height: 7vmin;
}

#row1-part2
{
   margin-top: -2vmin;
   height: 7vmin;
   margin-right: 2vmin;
   margin-top: -4vmin;
}

#row2-part1
{
   background-color:rgb(252, 15, 15);
   height: auto;
   width: 45vmin;
   color: rgb(237, 239, 83);
   border-radius: 5vmin;
}

#row2-part2
{
   background-color:rgb(252, 15, 15);
   height: auto;
   width: 45vmin;
   color: rgb(237, 239, 83);
    border-radius: 5vmin;
}



input,textarea{
	width: 30vmin;
}

#thigh
{
	margin-top: -10vmin;
}


#headline{
	font-family: Verdana, Geneva, Arial black, Arial, sans-serif;
	color: green;
	font-weight: bolder;
	margin-top: -2px;

}

#bodyhead{
	font-family: Arial black, Arial, sans-serif;
	color: red;
	font-weight: bold;
	font-size: 2vmin;

}

#content{
	font-family:  Arial, Arial black, sans-serif;
}

table{
	border: 5px blue solid;
}