body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: -100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3vmin;
}

.sidenav a {
    padding: 1vmin 0vmin 2vmin 0vmin;
    text-decoration: none;
    font-size: 2vh;
    color: #818181;
    display: block; 
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2vmin;
    font-size: 4vmin;
    margin-left: 1vmin;
}

#main {
    transition: margin-left .5s;
    
}

@media screen and (max-height: 20px) {
  .sidenav {padding-top: 0vmin;}
  .sidenav a {font-size: 0px;}
}









