<div>
    		<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <a href="#"><center>Facebook</center></a>
			  <a href="#"><center>Twitter</center></a>
			  <a href="#"><center>Google+</center></a>
			  <a href="#"><center>Linkedin</center></a>
			</div>

			<div id="main">
			  <div class="row">
			  	<div style="height: 15vmin" class="col-sm-1">
			  		<p style="font-size:2.2vh;cursor:pointer; margin-top: 3vmin;color: yellow" onclick="openNav()">&#9776; Follow Me</p>
			  	</div>

			  	<div style="height: 15vmin" class="col-sm-11">
			  		<h1 id="header"><center>Animesh Chakraborty</center></h1>
			  	</div>
			  </div>
			</div>

			<script>
				function openNav() {
				    document.getElementById("mySidenav").style.width = "10vmax";
				    document.getElementById("main").style.marginLeft = "10vmax";
				    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
				}

				function closeNav() {
				    document.getElementById("mySidenav").style.width = "0";
				    document.getElementById("main").style.marginLeft= "0";
				    document.body.style.backgroundColor = "white";
				}
			</script>
	    </div>